---
interface Props {
    label: string;
    value: string;
    body: string;
}

const { label, value, body } = Astro.props;
---

<div class="price">
    <span class="price__label">{label}</span>
    <span class="price__value" set:html={value}></span>
    <p set:html={body}></p>
</div>
