---
interface Props {
    num: string;
    title: string;
    body: string;
}

const { num, title, body } = Astro.props;
---

<div class="step">
    <span class="step__num">{num}</span>
    <h4 set:html={title}></h4>
    <p set:html={body}></p>
</div>
